@import url('https://fonts.googleapis.com/css2?family= Quicksand :wght@300;400;600 & display=swap');

/* Reset de propriedades */
/* *=seletor universal */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: gray;
    background-color: #edeced;
}

/* configurações genericas */

.container-grid {
    width: 80%;
    margin: 0 auto;
    /* max e min width determina o max e o minino de largura da página */
    max-width: 1200px;
    min-width: 992px;
}

/* cabeçalho */

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #676767;
}

header h1 {
    color: white;
    font-weight: 300;
    /* border: 2px solid white; */
}

header h1 #logoux {
    font-style: italic;
    font-weight: 600;
}

header nav {
    /* border: 2px solid white; */
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;

}

/***** Main ******/

main .colunas-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
/* section com a class coluna 1 */
main .coluna1 {
    width: 75%;
    background-color: white;
    margin-bottom: 20px;
}

/* imagem do lapis */
main .coluna1 #imagem-lapis {
    width: 100%;
}

main .coluna1 .texto-1 {
    margin: 15px;
    /* margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px; */
    /* line-height: muda o espaçamento da linha; */
    line-height: 22px;
}
/* aside com a class coluna 2 */
main .coluna2 {
    width: 20%;
}

main .coluna2 article {
    background-color: white;
    margin-bottom: 20px;
}

/**** Footer *****/

footer {
    background-color: #676767;
    color: white;
    /* padding: espaçamento interno */
    padding: 5px 0;
    /* padding: 0; top rigt bottom left  
    padding: 0 20px; top/bottom rigt/left
    padding: 0 20px 40px;  top rigt/left bottom 
    padding: 0 20px 40px 60px; top rigt bottom left */
}

/* h2 {
    
    width: 300px;
    heigth: 300px
    border: 1px solid red;
    margin: 20px 20px 20px 20px;
    margin-left: 20px
    margin-rigth: 20px
    margin-top: 20px
    margin-bottom: 20px
} */




