@import url('https://fonts.googleapis.com/css2?family= Quicksand :wght@300;400;600 & display=swap');

/* Reset de propriedades */
/* *=seletor universal */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: gray;
}

/* configurações genericas */

.container-grid {
    width: 80%;
    margin: 0 auto;
    
}

/* cabeçalho */

header .header-flex {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: gray;
}

header h1 {
    color: white;
    font-weight: 300;
    /* border: 2px solid white; */
}

header h1 #logoux {
    font-style: italic;
    font-weight: 600;
}

header nav {
    /* border: 2px solid white; */
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;

}

/***** Main ******/

main .colunas-flex {
    display: flex;
    justify-content: space-between;
}

main .coluna1 {
    width: 75%;
}

/* imagem do lapis */
main .coluna1 #imagem-lapis {
    width: 100%;
}

main .coluna1 .texto-1 {
    margin-top: 15px;
    margin-left: 15px;
}

main .coluna2 {
    width: 20%;
}

/* h2 {
    
    width: 300px;
    heigth: 300px
    border: 1px solid red;
    margin: 20px 20px 20px 20px;
    margin-left: 20px
    margin-rigth: 20px
    margin-top: 20px
    margin-bottom: 20px
} */




